body{background-color: hsl(47, 88%, 63%);
    
}
 
.container{
    display: flex;
    height: 100vh;
  justify-content: center;
align-items: center;    
}


.card{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 10px 10px;  
}

@media(max-width:375px){
    .card{
        width: 300px;
    }
}
.img{
    text-align: center;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
   
    
}

.learning{
    width: 70px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    margin: 10px;
    font-family: "Figtree", sans-serif;
    
}

.date{
    font-size: 14px;
    font-weight: 600;
    margin: 15px;
    font-family: "Figtree", sans-serif;  
}
 .title{
    margin: 15px;
    font-family: "Figtree", sans-serif;
   font-size: 12px;
   :hover{ color:hsl(47, 88%, 63%) ;}
   cursor: pointer;
}


.text{
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 20px;
    color: hsl(0, 0%, 42%);
    font-family: "Figtree", sans-serif;    
}
.name{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 15px;
    font-family: "Figtree", sans-serif;
   font-weight: 600; 
}
  
.image-avatar{
   height: 40px; 
   margin-right: 10px;
   
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }